[submodule "front/apps/main_frontend"]
	path = front/apps/main_frontend
	url = https://github.com/a-little-world/little-world-frontend.git
[submodule "front/apps/cookie_banner_frontend"]
	path = front/apps/cookie_banner_frontend
	url = https://github.com/a-little-world/little-world-cookie-banner.git
[submodule "front/apps/patenmatch"]
	path = front/apps/patenmatch
	url = https://github.com/a-little-world/little-world-patenmatch-frontend/
[submodule "dev/docs"]
	path = dev/docs
	url = https://github.com/a-little-world/little-world-backend-docs
[submodule "dev/scripts"]
	path = dev/scripts
	url = https://github.com/a-little-world/little-world-backend-scripts/
[submodule ".cursor"]
	path = .cursor
	url = https://github.com/a-little-world/little-world-backend-cursor-rules
[submodule "front/apps/admin_panel_frontend"]
	path = front/apps/admin_panel_frontend
	url = https://github.com/a-little-world/little-world-management-panel
