version: "3.8"

services:
  documentation:
    build:
      dockerfile: ./Dockerfile.back
      target: backend
      context: .
    command: sh -c 'pip3 install pdoc &&
      mkdir -p /tmp/html &&
      export DJANGO_SETTINGS_MODULE=back.settings &&
      pdoc -o /tmp/html management'
    volumes:
      - ./_docs/:/tmp/html
      - ./back/:/back/
    env_file:
      - envs/docs.env
    tty: true
