version: "3.8"

services:
  documentation:
    build:
      dockerfile: ./Dockerfile.docs
      args:
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: "${WEBPACK_PUBLIC_PATH}"
        BUILD_TYPE: "development"
        DJ_SECRET_KEY: "none"
        DJ_DEBUG: "0"
        FR_FRONTENDS: ""
        DJ_MANAGEMENT_USER_MAIL: ""
        DJ_ADMIN_OPEN_KEYPHRASE: ""
        DJ_SG_DEFAULT_FROM_EMAIL: ""
        DJ_TWILIO_ACCOUNT_SID: ""
        DJ_TWILIO_API_KEY_SID: ""
        DJ_TWILIO_API_SECRET: ""
        DJ_CELERY_TIMEZONE: "Australia/Tasmania"
        DJ_TIME_ZONE: "UTC"
      target: docs-frontend
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./_docs/:/tmp/html
    env_file:
      - envs/docs.env
    tty: true
