services:
  frontend__main_frontend:
    profiles: [ "main_frontend", "all", "main_frontend_only", "all-pt" ]
    build:
      context: .
      target: main_frontend_image
      dockerfile: ./Dockerfile.full
      args:
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: ""
        BUILD_TYPE: "${BUILD_TYPE}"
    working_dir: /front
    entrypoint: sh /back/entries/frontend_hot_reload.sh main_frontend
    volumes:
      - ./front/package.json:/front/package.json
      - ./front/package-lock.json:/front/package-lock.json
      - ./back/entries:/back/entries/
      - ./back/static/dist/main_frontend/:/back/static/dist/main_frontend/
      - ./front/main_frontend.webpack-stats.json:/front/main_frontend.webpack-stats.json
      - ./front/apps/main_frontend/prebuild/:/front/apps/main_frontend/prebuild/
      - ./front/apps/main_frontend/src/:/front/apps/main_frontend/src/
      - ./front/apps/main_frontend/node_modules/:/front/apps/main_frontend/node_modules/
      - ./front/apps/main_frontend/webpack.capacitor.config.js:/front/apps/main_frontend/webpack.capacitor.config.js
      - ./front/apps/main_frontend/package.json:/front/apps/main_frontend/package.json
      - ./front/apps/main_frontend/package-lock.json:/front/apps/main_frontend/package-lock.json
  frontend__admin_panel_frontend:
    profiles: [ "admin_panel_frontend", "all", "all-pt" ]
    build:
      context: .
      target: admin_panel_frontend_image
      dockerfile: ./Dockerfile.full
      args:
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: ""
        BUILD_TYPE: "${BUILD_TYPE}"
    working_dir: /front
    entrypoint: sh /back/entries/frontend_hot_reload.sh admin_panel_frontend
    volumes:
      - ./back/entries:/back/entries/
      - ./back/static/dist/admin_panel_frontend/:/back/static/dist/admin_panel_frontend/
      - ./front/admin_panel_frontend.webpack-stats.json:/front/admin_panel_frontend.webpack-stats.json
      - ./front/apps/admin_panel_frontend/prebuild/:/front/apps/admin_panel_frontend/prebuild/
      - ./front/apps/admin_panel_frontend/src/:/front/apps/admin_panel_frontend/src/
      - ./front/apps/admin_panel_frontend/package.json:/front/apps/admin_panel_frontend/package.json
      - ./front/apps/admin_panel_frontend/package-lock.json:/front/apps/admin_panel_frontend/package-lock.json
  frontend__cookie_banner:
    profiles: [ "cookie_banner_frontend", "all", "all-pt" ]
    build:
      context: .
      target: cookie_banner_frontend_image
      dockerfile: ./Dockerfile.full
      args:
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: ""
        BUILD_TYPE: "${BUILD_TYPE}"
    working_dir: /front
    entrypoint: sh /back/entries/frontend_hot_reload.sh cookie_banner_frontend
    volumes:
      - ./back/entries:/back/entries/
      - ./back/static/dist/cookie_banner_frontend/:/back/static/dist/cookie_banner_frontend/
      - ./front/cookie_banner_frontend.webpack-stats.json:/front/cookie_banner_frontend.webpack-stats.json
      - ./front/apps/cookie_banner_frontend/src/:/front/apps/cookie_banner_frontend/src/
      - ./front/apps/cookie_banner_frontend/package.json:/front/apps/cookie_banner_frontend/package.json
      - ./front/apps/cookie_banner_frontend/package-lock.json:/front/apps/cookie_banner_frontend/package-lock.json
  backend:
    profiles:
      [
        "backend",
        "admin_panel_frontend",
        "main_frontend",
        "cookie_banner_frontend",
        "all",
        "all-pt"
      ]
    build:
      context: .
      dockerfile: ./Dockerfile.full
      args:
        DEVELOPMENT: true
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: ""
        BUILD_TYPE: "${BUILD_TYPE}"
        ENTRYPOINT: "${ENTRYPOINT}"
    image: "${APP_IMAGE_URL}"
    ports:
      - "8000:8000"
      - "5678:5678"  # Debug port
    environment:
      REDIS_URL: "${REDIS_URL}"
    env_file:
      - ./envs/dev.env
    volumes:
      - ./back/:/back/
      - ./front/env_apps/:/front/env_apps/
      - ./front/main_frontend.webpack-stats.json:/front/main_frontend.webpack-stats.json
      - ./front/admin_panel_frontend.webpack-stats.json:/front/admin_panel_frontend.webpack-stats.json
      - ./front/cookie_banner_frontend.webpack-stats.json:/front/cookie_banner_frontend.webpack-stats.json
    extra_hosts:
      - "host.docker.internal:host-gateway"
  redis:
    profiles:
      [
        "backend",
        "admin_panel_frontend",
        "main_frontend",
        "cookie_banner_frontend",
        "all",
        "all-pt"
      ]
    image: redis:5
    ports:
      - "6379:6379"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  patenmatch:
    profiles: [ "patenmatch", "all-pt" ]
    ports:
      - "3000:3000"
    build:
      context: ./front/apps/patenmatch
      dockerfile: ./Dockerfile.dev
    volumes:
      - ./front/apps/patenmatch:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
