version: '3'
services:
  all:
    build:
      context: .
      dockerfile: ./Dockerfile.full
      args:
        DOCKER_BUILDKIT: 1
        PUBLIC_FRONTEND_PATH: "${WEBPACK_PUBLIC_PATH}"
        BUILD_TYPE: "${BUILD_TYPE}"
        ENTRYPOINT: "${ENTRYPOINT}"
    image: "${APP_IMAGE_URL}"
    ports:
      - "8000:8000"
    environment:
      BUILD_TYPE: development
      REDIS_URL: "${REDIS_URL}"
      EMPHIRIAL: "1"
      DJ_DEBUG: 1
      DJ_SECRET_KEY: "bla bla"
      DJ_ALLOWED_HOSTS: "*"
      DJ_TIME_ZONE: UTC
      DJ_CELERY_TIMEZONE: Australia/Tasmania
      DJ_MANAGEMENT_USER_MAIL: admin@user.com
      DJ_MANAGEMENT_PW: Admin123!
      DJ_TIM_MANAGEMENT_PW: Test123!
      DJ_ADMIN_OPEN_KEYPHRASE: opensesame
      DJ_USE_MINIO: 0
      DJ_MINIO_ROOT_USER: ""
      DJ_MINIO_ROOT_PASSWORD: ""
      DJ_MINIO_BUCKET_NAME: ""
      DJ_MINIO_MEDIA_BUCKET_NAME: ""
      DJ_MINIO_ENDPOINT: ""
      DJ_TWILIO_ACCOUNT_SID: AccSidNotProvidedInDev
      DJ_TWILIO_API_KEY_SID: TwApiKeyNotIncludedDev
      DJ_TWILIO_API_SECRET: TwApiSecretNotIncludedDev
      WEBPACK_PUBLIC_PATH: "${WEBPACK_PUBLIC_PATH}"
      DJ_AWS_STATIC_ACCESS_KEY_ID: "${DJ_AWS_STATIC_ACCESS_KEY_ID}"
      DJ_USE_AUTO_RELOAD: "true"
      DJ_AWS_STATIC_SECRET_KEY: "${DJ_AWS_STATIC_SECRET_KEY}"
      DJ_AWS_STATIC_BUCKET_NAME": "${DJ_AWS_STATIC_BUCKET_NAME}"
      DJ_AWS_REGION_NAME: "${DJ_AWS_REGION_NAME}"
      FR_FRONTENDS: main_frontend,cookie_banner_frontend,admin_panel_frontend
      WEBPACK_DEV_TOOL: eval-cheap-module-source-map
      WEBPACK_DEBUG: 1
      DJ_SG_SENDGRID_API_KEY: "not_an_api_key"
      DJ_SG_DEFAULT_FROM_EMAIL: "admin@user.com"
      DJ_BASE_URL: http://localhost:8000
      DJ_CALCOM_QUERY_ACCESS_PARAM: "secret"
      DJ_CALCOM_MEETING_ID: "herr-duenschnlate-iiscv9/15min"
      DJ_USE_SENTRY: 0
      DJ_SENTRY_DNS: ""
    extra_hosts:
      - "host.docker.internal:host-gateway"
  redis:
    image: redis:5
    ports:
      - "6379:6379"
    extra_hosts:
      - "host.docker.internal:host-gateway"
