{% if validlink %}
{% load cookie %}
{% load_cookie_data request=request as cookie_data %}
{% include 'user_form_frontend.html' with app_name="setpw" use_cookie_banner=True cookieGroups=cookie_data.cookieGroups cookieSets=cookie_data.cookieSets cookieStateDict=cookie_data.cookieStateDict %}
{% else %}
{% load cookie %}
{% load_cookie_data request=request as cookie_data %}
{% include 'mail_code_expired_or_faulty.html' with error_text="The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." error_header="Reset Failed" after_error_route="/app" use_cookie_banner=True cookieGroups=cookie_data.cookieGroups cookieSets=cookie_data.cookieSets cookieStateDict=cookie_data.cookieStateDict %}
{% endif %}