{% if validlink %}
{% load cookie_utils %}
{% load_cookie_data request=request as cookie_context %}
{% include 'user_form_frontend.html' with app_name="setpw" use_cookie_banner=True cookie_data=cookie_context.cookie_data %}
{% else %}
{% load cookie_utils %}
{% load temp_utils %}
{% load_cookie_data request=request as cookie_context %}
{% create_dict "{'error_text':'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.','error_header':'Reset Failed','after_error_route':'/app'}" as appKwargs %}
{% include 'user_form_frontend.html' with app_name="error" use_cookie_banner=False cookie_data=cookie_context.cookie_data kwargs=appKwargs %}
{% endif %}