{% load webpack_static from webpack_loader %}
<meta charset="utf-8" />
<link rel="icon" href="{% webpack_static 'favicon.ico' app_name %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="user form for matching" content="profile and matching information"/>
<link rel="apple-touch-icon" href="{% webpack_static 'apple-touch-icon.png' app_name %}" />
<link rel="manifest" href="{% webpack_static 'manifest.json' app_name %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static 'apple-touch-icon.png' app_name %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% webpack_static 'favicon-32x32.png' app_name %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% webpack_static 'favicon-16x16.png' app_name %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600;700&family=Work+Sans:wght@700&display=swap"
    rel="stylesheet"
/>
<title> {{ title }} </title>