{% load render_bundle from webpack_loader %}
{% load get_reload_script_tag from reload_script_utils %}
{% load get_api_translations from temp_utils %}
{% load get_api_options from temp_utils %}
{% get_api_translations as api_translations %}
{% get_api_options as api_options %}
<!DOCTYPE html>
<head>
  {% get_reload_script_tag %}
  {% include "react_app_head_base.html" with app_name='admin_panel_frontend' title='Admin Pannel' %}
</head>
{% render_bundle 'staticfiles' 'css' 'admin_panel_frontend' %}
<body>
    <div id="root"></div>
</body>
{% render_bundle 'staticfiles' 'js' 'admin_panel_frontend' %}
<script>
  console.log('=== HTML TEMPLATE SCRIPT STARTING ===');
  const apiTranslations = JSON.parse('{{ api_translations | escapejs }}');
  const apiOptions = JSON.parse('{{ api_options | escapejs }}');
  console.log('=== ABOUT TO CALL renderApp ===');
  console.log('renderApp type:', typeof renderApp);
  renderApp({ apiTranslations, apiOptions })
  console.log('=== renderApp CALLED SUCCESSFULLY ===');
</script>
<div style="display: none;">{{csrf_token}}</div>