{% load render_bundle from webpack_loader %}
{% load get_reload_script_tag from reload_script_utils %}
<!DOCTYPE html>
<head>
  {% get_reload_script_tag %}
    {% include "react_app_head_base.html" with app_name='admin_panel_frontend' title='Admin Pannel' %}    
     <meta http-equiv="refresh" content="900">
</head>
{% render_bundle 'staticfiles' 'css' 'admin_panel_frontend' %}
<body>
    <div id="root"></div>
</body>
{% render_bundle 'staticfiles' 'js' 'admin_panel_frontend' %}
<script>
  const data = JSON.parse('{{ data | escapejs }}');
  renderAdminPanelV2LoginScreen(data)
</script>
<div style="display: none;">{{csrf_token}}</div>