{% load get_base_matomo_script_tag from temp_utils %}
{% load get_api_translations from temp_utils %}
{% get_api_translations as api_translations %}
{% get_base_matomo_script_tag as MATOMO_TAG_SCRIPT %}
{% load get_sentry_init_script from temp_utils %}
{% get_sentry_init_script as SENTRY_INIT_SCRIPT %}
{% load get_reload_script_tag from reload_script_utils %}
{% load render_bundle from webpack_loader %}
{% load get_base_page_url from temp_utils %}
<!DOCTYPE html>
<head>
  {{ SENTRY_INIT_SCRIPT | safe }}
  <script>
    {{ MATOMO_TAG_SCRIPT | safe }}
  </script>
  {% get_reload_script_tag %}
  {% if sentry_user_id %}
  <script>
    Sentry.setUser({ id: '{{ sentry_user_id }}' });
  </script>
  {% endif %}
    {% include "react_app_head_base.html" with app_name='main_frontend' title='Little World' %}
    {% if use_cookie_banner %}
        {% get_base_page_url as BASE_PAGE_URL %}
        <script type='text/javascript' async src='{{ BASE_PAGE_URL }}/api/cookies/cookie_banner.js'></script>
    {% endif %}
    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
      Cal("init", {origin:"https://cal.com"});
      Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
    </script>
</head>
{% render_bundle 'staticfiles' 'css' 'main_frontend' %}
<body>
    <div id="root"></div>
</body>
{% render_bundle 'staticfiles' 'js' 'main_frontend' %}
<script>
  const user = JSON.parse('{{ user | escapejs }}');
  const apiTranslations = JSON.parse('{{ api_translations | escapejs }}');
  const apiOptions = JSON.parse('{{ api_options | escapejs }}')

  renderAppV2({ user, apiTranslations, apiOptions })
</script>
<div style="display: none;">{{csrf_token}}</div>