{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<head>
    {% include "react_app_head_base.html" with app_name='user_form_frontend' title='User Form' %}    
    {% if use_cookie_banner %}
        {% render_bundle 'staticfiles' 'css' 'user_form_frontend' %}
    {% endif %}
    {% render_bundle 'staticfiles' 'css' 'user_form_frontend' %}
</head>
<body>
    <div id="root"></div>
    {% if use_cookie_banner %}
        <div id="shadow-root"></div>
    {% endif %}
</body>
{% render_bundle 'staticfiles' 'js' 'user_form_frontend' %}
<script>
    const extraKwargs = JSON.parse('{{ kwargs | escapejs }}');
    render_app({ byName : "{{ app_name }}", ...extraKwargs})
</script>
{% if use_cookie_banner %}
    {% render_bundle 'staticfiles' 'js' 'cookie_banner_frontend' %}
    <script>
        const toImpressum = () => { window.showImpressum() }
        const toPrivacy = () => { window.showPrivacy() } 
        const cookieData = JSON.parse('{{ cookie_data | escapejs }}');
        cookieBanner(
            cookieData.cookieGroups,
            cookieData.cookieSets, 
            cookieData.cookieStateDict, 
            toImpressum, 
            toPrivacy
        );
    </script>
{% endif %}
<div style="display: none;">{{csrf_token}}</div>