name: Deploy temporary env

on:
  push:
    branches: ['main']
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'staging_deployment'
  cancel-in-progress: true

jobs:
  make_docs:
    runs-on: ubuntu-latest
    name: Deploy emperial env
    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}
          submodules: recursive
      - name: Extract branch name
        shell: bash
        run: |
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Determine Pull ID and if this should be staged
        id: determine_pull_id
        run: |
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          branch=${{ steps.extract_branch.outputs.branch }}
          SHOULD_STAGE=$(echo $branch | grep -E '^staging-')
          echo "SHOULD_STAGE=$SHOULD_STAGE" >> $GITHUB_OUTPUT
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        with:
          issue-number: 1
          body: |
            Test Comment generated by staging pull
          reactions: '+1'
