name: Deploy temporary env

on:
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'staging_deployment'
  cancel-in-progress: true

jobs:
  make_docs:
    runs-on: ubuntu-latest
    name: Deploy emperial env
    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}
          submodules: recursive
      - name: Extract branch name
        shell: bash
        run: |
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Determine Pull ID and if this should be staged
        id: determine_pull_id
        run: |
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          branch=${{ steps.extract_branch.outputs.branch }}
          SHOULD_STAGE=$(echo $branch | grep -E '^staging-')
          echo "SHOULD_STAGE=$SHOULD_STAGE" >> $GITHUB_OUTPUT
          echo "PULL_NUMBER=$pull_number" >> $GITHUB_OUTPUT
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        id: create_comment
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        with:
          token: ${{ secrets.BOT_PAT }}
          issue-number: ${{ steps.determine_pull_id.outputs.PULL_NUMBER }}
          body: |
            Branch starts with 'staging-*' deploying temporary env!
            1. Setup
      - name: Setup Emperial Env
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        run: |
          touch .env
          echo "APP_IMAGE_URL=\"ghcr.io/a-little-world/little-world-backend/littleworld-epherial-backend:tmp-${{ steps.determine_pull_id.outputs.PULL_NUMBER  }}\"" >> .env
          echo "REDIS_URL=\"redis://redis-service.default.svc.cluster.local:6379\"" >> .env
      - name: Add build step comment
        uses: peter-evans/create-or-update-comment@v3
        id: update_comment
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        with:
          token: ${{ secrets.BOT_PAT }}
          comment-id: ${{ steps.create_comment.outputs.comment-id }}
          body: |
            2. Build
      - name: Build Image
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        run: |
          echo ${{ secrets.BOT_PAT }} | docker login ghcr.io -u littleworld-bot --password-stdin
          DOCKER_BUILDKIT=1 docker-compose build
          DOCKER_BUILDKIT=1 docker-compose push
      - name: Add build step comment 2
        uses: peter-evans/create-or-update-comment@v3
        id: update_comment_2
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        with:
          token: ${{ secrets.BOT_PAT }}
          comment-id: ${{ steps.create_comment.outputs.comment-id }}
          body: |
            3. Deploy
      - uses: azure/setup-helm@v3
        with:
           version: 'latest'
           token: ${{ secrets.BOT_PAT }}
        id: install-helm
      - uses: azure/setup-kubectl@v3
        with:
           version: 'latest'
        id: install-kubectl
      - name: Setup Cluster Connection
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        run: |
          echo "${{ secrets.ENCRYPTED_KUBE_CONFIG_BASE64 }}" | base64 --decode > kubeconfig.enc
          openssl aes-256-cbc -d -pbkdf2 -in ./kubeconfig.enc -out kubeconfig.yaml -k ${{ secrets.KUBE_CONFIG_PASSWORD }}
          cat kubeconfig.yaml
          GH_CR_AUTH=$(echo -n "littleworld-bot:${{ secrets.BOT_PAT }}" | base64)
          cat << EOF | while read eval_command; do yq -i eval "$eval_command" ./helm/values.yaml; done
            .rootNamespace = "lw-tmp-env-${{ steps.determine_pull_id.outputs.PULL_NUMBER }}"
            .backend.imageURL = "ghcr.io/a-little-world/little-world-backend/littleworld-epherial-backend:tmp-${{ steps.determine_pull_id.outputs.PULL_NUMBER }}"
            .ingress.certManger = true
            .ingress.host = "${{ steps.extract_branch.outputs.branch }}-tmp-env.t1m.me"
            .registryAuth.token = "$GH_CR_AUTH"
            .registryAuth.use = true
          EOF
          NAMESPACE=lw-tmp-env-${{ steps.determine_pull_id.outputs.PULL_NUMBER }}
          KUBECONFIG=./kubeconfig.yaml kubectl create namespace $NAMESPACE || true
          KUBECONFIG=./kubeconfig.yaml helm uninstall backend-tmp-${{ steps.determine_pull_id.outputs.PULL_NUMBER }} || true
          KUBECONFIG=./kubeconfig.yaml helm install backend-tmp-${{ steps.determine_pull_id.outputs.PULL_NUMBER }} ./helm
      - name: Add build step comment 3
        uses: peter-evans/create-or-update-comment@v3
        id: update_comment_3
        if: steps.extract_branch.outputs.branch != 'main' && steps.determine_pull_id.outputs.SHOULD_STAGE != ''
        with:
          token: ${{ secrets.BOT_PAT }}
          comment-id: ${{ steps.create_comment.outputs.comment-id }}
          body: |
            4. Done check: [`https://${{ steps.extract_branch.outputs.branch }}-tmp-env.t1m.me`](https://${{ steps.extract_branch.outputs.branch }}-tmp-env.t1m.me)