name: Run tests

on:
  push:
    branches: ['main']
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  make_docs:
    runs-on: ubuntu-latest
    name: Deploy emperial env
    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}
          submodules: recursive
      - name: Extract branch name
        shell: bash
        run: |
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
          SHOULD_STAGE=$(echo $branch | grep -E '^staging-')
        id: extract_branch
      - name: Determine Pull ID and if this should be staged
        if: steps.extract_branch.outputs.branch != 'main' && steps.extract_branch.outputs.SHOULD_STAGE != ''
        id: determine_pull_id
        run: |
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v3
        if: steps.extract_branch.outputs.branch != 'main' && steps.extract_branch.outputs.SHOULD_STAGE != ''
        with:
          issue-number: 1
          body: |
            Test Comment generated by staging pull
          reactions: '+1'
      - name: Setup Emperial Env
        if: steps.extract_branch.outputs.branch != 'main' && steps.extract_branch.outputs.SHOULD_STAGE != ''
        run: |
          touch .env
          echo "APP_IMAGE_URL=\"ghcr.io/a-little-world/littleworld-epherial-backend:latest\"" >> .env
          echo "REDIS_URL=\"redis://redis-service.default.svc.cluster.local:6379\"" >> .env
      - name: Build Image
        if: steps.extract_branch.outputs.branch != 'main' && steps.extract_branch.outputs.SHOULD_STAGE != ''
        run: |
          DOCKER_BUILDKIT=1 docker-compose build
          DOCKER_BUILDKIT=1 docker-compose push
      - name: Deploy Emperial Env to cluster
