name: Run tests

on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  make_docs:
    runs-on: ubuntu-latest
    name: Build & Run tests
    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}
          submodules: recursive
      - name: build backend image
        shell: 'script -q -e -c "bash {0}"'
        run: python3 run.py build
      - name: build frontend image
        shell: 'script -q -e -c "bash {0}"'
        run: python3 run.py bf
      - name: run backend image
        shell: 'script -q -e -c "bash {0}"'
        # We use '-bg' to run the container in background
        run: python3 run.py r -bg
      - name: compile translations
        shell: 'script -q -e -c "bash {0}"'
        run: python3 run.py trans
      - name: run django tests
        shell: 'script -q -e -c "bash {0}"'
        # Runns 'manage.py test' in the container
        run: python3 run.py run_django_tests
        env:
          CI: True
      - name: kill backend image
        shell: 'script -q -e -c "bash {0}"'
        # Kill everything we are done
        run: python3 run.py kill
