name: 'Request Stagign Deployment'
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Request run
      id: request_run
      env:
        DEPLOYMENT_NAME: staging
        COMMIT_REF: ${{ github.sha }}
        GH_TOKEN: ${{ secrets.DEPLOYMENT_REQUEST_TOKEN }}
        MESSAGE: "Requested deployment by ${{ github.actor }}"
      run: |
        curl -X POST \
          -H "Authorization: Bearer ${{ secrets.PAT }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ secrets.DEPLOYMENT_API_GIT }}/actions/workflows/build_image_create_deployment_request.yaml/dispatches \
          -d '{"ref": "main", "inputs": {"DEPLOYMENT_NAME":"'"$DEPLOYMENT_NAME"'", "COMMIT_REF":"'"$COMMIT_REF"'", "MESSAGE":"'"$MESSAGE"'"}}'